@import "tailwindcss/preflight";
@tailwind utilities;

/* Estilos para AR.js */
body {
  margin: 0;
  overflow: hidden;
}

.a-canvas {
  width: 100% !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

/* Remove o botão VR que aparece por padrão */
.a-enter-vr {
  display: none !important;
}
